$color-yellow: #fffbbe;
$color-light-purple: #eec1ea;
$color-medium-purple: #be97dc;
$color-dark-purple: #a374d5;

@import 'styles/paper-doll';

@font-face {
    font-family: cuteNotes;
    src: url('../public/fonts/Cute\ Notes.ttf');
}

@font-face {
    font-family: cute;
    src: url('../public/fonts/Cute_Font.ttf');
}

body {
    background: lightblue;
}

.intro-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        font-family: cuteNotes, sans-serif;
        color: purple;
        font-size: 84px;
        text-align: center;
        word-spacing: -36px;
        text-wrap: wrap;
    }

    .intro-button {
        font-family: cute, sans-serif;
        color: purple;
        background: pink;
        height: 75px;
        width: 225px;
        font-size: 45px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        &:hover {
            color: pink;
            background-color: purple;
        }
    }
}