$color-yellow: #fffbbe;
$color-light-purple: #eec1ea;
$color-medium-purple: #be97dc;
$color-dark-purple: #a374d5;

@import 'styles/paper-doll';

@font-face {
    font-family: cuteNotes;
    src: url('../public/fonts/Cute\ Notes.ttf');
}

@font-face {
    font-family: cute;
    src: url('../public/fonts/Cute_Font.ttf');
}

body {
    background: lightblue;
}